@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');
body{
    background-color: #FF884B;
    font-family: 'Peralta', cursive;
}
h1{
    display: flex;
    justify-content: center;
    color: #562B08;
    font-size: 50px;
    margin-bottom: 15px;
}
label{
    background-color: aqua;
    border-radius: 15px;
    margin-top: 15px;
    font-size: 25px;
}
#nombre-caballos{
    display: flex;
    align-items: center;
    flex-direction: column;
}
#boton-seleccion{
    margin-top: 20px;
    font-family: 'Peralta', cursive;
    font-size: 30px;
    color: red;
    background: none;
    border: none;
}
input{
    border-radius: 10px;
}