@import url('https://fonts.googleapis.com/css2?family=Peralta&display=swap');
body{
    background-color: #f8c245;
    font-family: 'Peralta', cursive;
}
#nombre-caballos{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.titulo{
    display: flex;
    justify-content: center;
    color: #3e1e04;
    font-size: 60px;
    margin-bottom: 15px;
}
.subtitulo{
    color: #030201;
    font-size: 40px;

}
.tarjetas{
    display: flex;
    gap: 10px;
    width: 1000px;
    flex-wrap: wrap;
    align-items: center;
    
}
.tarjeta-de-caballo{
    background-color: #FF4949;
    width: 125px;
    height: 130px;
    padding: 10px;
    border-radius: 30px;
}
.tarjeta-de-caballo img{
    width: 134px;
    margin-block: -40px;
}

#boton-seleccion{
    margin-top: 20px;
    font-family: 'Peralta', cursive;
    font-size: 30px;
    color: red;
    background: none;
    border: none;
}
input{
    border-radius: 10px;
}